@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Lato:regular);

body {
    background-color: #292D3E;
    padding: 80px 220px;
}

.main {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    width: 1000px;
    height: 860px;
    background-image: url("../source/img/main/bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card {
    position: absolute;
    padding: 150px 200px;

    .nav {
        display: flex;
        background-color: #2B3040;

        &__list {
            display: flex;
            gap: 70px;
            text-transform: uppercase;
            padding: 30px 50px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            transition: all 0.2s ease;
            color: #fffabb89;

            &:hover {
                cursor: pointer;
                color: #fff;
                .svg path {
                    stroke: #fff;
                }
            }
        }
    }

    &__body,
    &__buy,
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #212534;
    }

    &__buy,
    &__info {
        padding: 20px 40px;
    }
}

.rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 80px 40px;
    max-width: 300px;
}

.rating__star {
    height: 20px;
    width: 20px;
    background: url("../source/img/card/star-icon.svg");
    background-size: cover;
    display: inline-block;
    margin: 0;
}

.rating-hover {
    cursor: pointer;
    background: url("../source/img/card/star-icon-act.svg");
}

.rating-chosen {
    background: url("../source/img/card/star-icon-act.svg");
    ;
}

.info {
    &__title {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        margin-bottom: 40px;

        .title {
            display: grid;
            grid-area: 1 / 1;
        }

        .subtitle {
            display: grid;
            grid-area: 2 / span 2;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 22px;
        padding: 0 80px 0 0;
        margin-bottom: 50px;
    }
}

.progress-bar {
    display: grid;
    grid-area: span 2 / 3;
    position: relative;
    height: 75px;
    width: 75px;
}

.progress-bar div {
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.progress-bar div span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 22px;
    height: 65px;
    width: 65px;
    left: 5.5px;
    top: 5.5px;
    text-align: center;
    border-radius: 50%;
    background-color: #2B3040;
}

.progress-bar .background {
    background-color: #b3cef6;
}

.progress-bar .rotate {
    clip: rect(0 33.5px 75px 0);
    // background-color: #4b86db;
    background-color: #00D4BE;
}

.progress-bar .left {
    clip: rect(0 33.5px 75px 0);
    opacity: 1;
    background-color: #1AE780;

}

.progress-bar .right {
    clip: rect(0 33.5px 75px 0);
    transform: rotate(180deg);
    opacity: 0;
    // background-color: #4b86db;
    background-color: #00D4BE;
}

@keyframes toggle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.buy {
    display: grid;

    .buy__discount {
        display: flex;
        align-items: end;
        grid-area: 1 / 1;
        font-size: 12px;
        color:#FFDD3F;

    }
    .buy__price {
        grid-area: 2 / 1;
        font-size: 32px;
        line-height: 32px;
    }

    .buy__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        grid-area: span 2 / 2;
        background: #13E28D;
        width: 150px;
        height: 60px;
    }
}
